.tranding-slides {
    position: relative;
    border-radius: 0.625rem;
    overflow: hidden;
}

.tranding-slides.slick-list .slick-track {
    display: flex;
    gap: 2px;
}

.trending-slide {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 0.625rem;
    overflow: hidden;
}

.tranding-cart-overlay-main-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65px;
    height: 65px;
    z-index: 999;
    background-color: #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #ffffff;
    border-radius: 1.25rem 0 0 0;
    padding: 0.3125rem 0.3125rem 0 0.3125rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.tranding-cart-overlay-main-container::after {
    position: absolute;
    top: -1.310rem;
    right: 0px;
    content: '';
    width: 1.125rem;
    height: 1.125rem;
    background-color: transparent;
    border-bottom-right-radius: 0.625rem;
    box-shadow: 0.375rem 0.375rem #FFFFFF;
}

.tranding-cart-overlay-main-container::before {
    width: 2.125rem;
    height: 2.125rem;
    bottom: 0px;
    left: -2.310rem;
    background-color: transparent;
    position: absolute;
    content: '';
    border-bottom-right-radius: 0.645rem;
    box-shadow: 0.375rem 0.375rem #FFFFFF;
}

@media only screen and (max-width: 480px) {
    .tranding-cart-overlay-main-container::before {
        bottom: 0px;
    }
}

/* Small image cart bag */
.small-tranding-cart-overlay-main-container {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 40px;
    height: 40px;
    z-index: 999;
    background-color: #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #ffffff;
    border-radius: 0.7rem 0 0 0;
    padding: 0.3125rem 0.3125rem 0 0.3125rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.small-tranding-cart-overlay-main-container::after {
    position: absolute;
    top: -1.310rem;
    right: 0px;
    content: '';
    width: 1.125rem;
    height: 1.125rem;
    background-color: transparent;
    border-bottom-right-radius: 0.625rem;
    box-shadow: 0.375rem 0.375rem #FFFFFF;
}

.small-tranding-cart-overlay-main-container::before {
    width: 1.125rem;
    height: 1.125rem;
    bottom: 0;
    left: -1.30rem;
    background-color: transparent;
    position: absolute;
    content: '';
    border-bottom-right-radius: 0.645rem;
    box-shadow: 0.375rem 0.375rem #FFFFFF;
}

.tranding-card-bag-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-color: white;
    border-radius: 0.625rem;
    cursor: pointer;
    border: 1px solid var(--primary-red);
}

.small-tranding-card-bag-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-color: white;
    border-radius: 0.325rem;
    cursor: pointer;
    border: 1px solid var(--primary-red);
}

.tranding-now-cart-bag {
    color: var(--primary-red);
}

.mobile-tranding-now-cart-bag {
    display: none;
    color: var(--primary-red);

}

.check-bg0instead-image {
    width: 100%;
    height: 100%;
    background-color: purple;
}

.image_preloader_trending {
    height: 637px;
    width: 200px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
}

.image_preloader_trending img {
    height: 70px !important;
    width: 70px !important;
}

.trending-now-main-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: auto;
    overflow: hidden;
    gap: 10px;
}

.trending-now-main-container h3 {
    font-size: 25px;
    line-height: var(--heading-line-height);
    font-weight: 600;
    color: var(--text-primary);
    margin-bottom: 15px;
}

.tranding-slider-and-categories {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tranding-slider {
    width: 100%;
    cursor: grab;
    height: auto;
    overflow: hidden;
}

.tranding-slides {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    transition: transform 1s ease-in-out;
}

.tranding-slide {
    display: flex;
    min-width: 100%;
    height: auto;
}

.trending-slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

.trending-items-cards {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
    column-gap: 5px;
    padding: 0 5px;
}

.trending-item-category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    background-color: #f5f5f5;
    position: relative;
}

.trending-item-category img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: transform 0.3s ease;
}

.trending-item-category > img:hover {
    transform: scale(1.2);
}

@media only screen and (min-width: 1024px) {
    .trending-now-main-container {
        padding: 0 60px 35px 60px;
    }

    .tranding-slider-and-categories {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
    }

    .tranding-slider {
        display: flex;
        width: 65%;
        height: auto;
    }

    .tranding-slides {
        display: flex;
        width: 100%;
        height: 100%;
        transition: transform 1s ease-in-out;
    }

    .trending-items-cards {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0px;
        width: 35%;
    }

    .trending-item-category {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .trending-now-main-container {
        padding: 20px 30px 0px 30px;
        gap: 15px;
    }
    .trending-now-main-container h3 {
        font-size: 20px;
        margin-bottom: 0;
    }

    .tranding-slider-and-categories {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
    }

    .tranding-slider {
        display: flex;
        width: 65%;
        height: auto;
    }

    .tranding-slides {
        display: flex;
        width: 100%;
        height: 100%;
        transition: transform 1s ease-in-out;
    }

    .trending-items-cards {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0px;
        width: 35%;
    }

    .trending-item-category {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .tranding-cart-overlay-main-container {
        width: 50px;
        height: 50px;
    }
    .tranding-card-bag-container {
        border-radius: 0.415rem;
    }
}

@media only screen and (max-width: 767px) {
    .trending-now-main-container {
        gap: 10px;
        padding: 10px 10px 10px 10px;
    }

    .trending-now-main-container h3 {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .tranding-slider-and-categories {
        gap: 5px;
    }

    .trending-item-category img {
        width: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    .tranding-slides {
        width: 100%;
        height: 173px;
    }

    .tranding-slides .slick-list {
        width: 100% !important;
        height: 100% !important;
    }

    .tranding-slides .slick-list .slick-track {
        height: 100% !important;
    }

    .trending-slide {
        height: 173px;
        width: 100%;
    }

    .trending-slide img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .tranding-cart-overlay-main-container {
        width: 50px;
        height: 50px;
    }

    .tranding-now-cart-bag {
        display: none;
    }

    .mobile-tranding-now-cart-bag {
        display: flex;
    }
    
}

.tranding-slides .slick-slider {
    margin-bottom: 0px !important;
}