.best-seller-slider-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 0px 60px 35px 60px;
}

.best-seller-imaage-and-cards {
    display: flex;
    width: 100%;
    height: auto;
    align-items: stretch;
    overflow: hidden;
    gap: 20px;
}

.best-seller-slider-main-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 30%;
    height: auto;
    min-width: 466px;
    position: relative;
}

.best-seller-slider-main-banner img {
    width: 100%;
    height: 100%;
    display: block;
}

/* Slider Section */
.best-seller-slider-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    z-index: 0;
}

.best-seller-slider-menu-bar {
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 0;
}

.best-seller-slider-menu-bar h3 {
    font-size: 25px;
    line-height: var(--heading-line-height);
    font-weight: 600;
    color: var(--text-primary);
}

.best-seller-menu-bar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.best-seller-menu-bar p {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: var(--text-primary);
    cursor: pointer;
    border-bottom: 3px solid #ffff;
}

.best-seller-menu-bar p.active {
    border-bottom: 3px solid var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.products-slider-container {
    overflow: hidden;
    display: flex;
    width: 100%;
    padding: 5px;
    height: 100%;
    z-index: 0;
}

.best-seller-slider-wrapper {
    width: 100%;
    height: 100%;
    display: block;
}

.best-seller-slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition: transform 0.5s ease-in-out;
    gap: 15px;
    padding: 4px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.product-slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    z-index: 1;
}

.product-slider-arrow img {
    width: 30px;
    height: 30px;
}

.product-slider-arrow .left {
    right: 0;
}

.product-slider-arrow .right {
    right: 0;
}

.best-seller-product-card-div {
    padding: 15px;
    box-sizing: border-box;
    flex: 1 0 30%;
    width: calc(100% / 3);
    cursor: pointer;
    border: 1px solid #ddd;
}

.best-seller-product-main-image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.best-seller-product-main-image {
    width: 75%;
    height: auto;
    object-fit: cover;
}

.product-rating-span {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 3px;
}

.best-seller-stars {
    color: #50BED3;
}

.product-rating-span img {
    width: 14px;
    height: 14px;
}

.product-rating-span p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
}

.productmain-name {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: var(--text-primary);
    margin-bottom: 20px;
}

.price-and-heart {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.price-and-heart span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-and-heart span del {
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: var(--text-primary);
}

.price-and-heart span p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: var(--primary-color);
}

.price-and-heart img {
    width: auto;
    height: 22px;
    object-fit: contain;
}

.pagination-dots {
    text-align: center;
    margin-top: 5px;
}

.best-seller-slider-main-banner-mobile-view {
    display: none;
}

@media only screen and (max-width: 480px) {

    .mobile-view-slider-cards .slick-arrow.slick-next,
    .slick-arrow.slick-prev {
        top: 50% !important;
    }
}


.mobile-view-slider-cards .slick-track {
    display: flex !important;
}

.mobile-view-single-card-container {
    display: flex !important;
    width: 100%;
    overflow: hidden;
    left: 0;
    padding: 10px 25px;
    transition: transform 0.5s ease;
}

/* Mobile View */

.best-saller-mobile-container {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    padding: 0px 10px;
    gap: 5px;
}

.best-saller-mobile-container>h3 {
    font-size: 18px !important;
    line-height: 1.2 !important;
    font-weight: 600 !important;
    color: var(--text-primary);
}

.mobile-card-nav-container {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 15px;
}

.mobile-best-seller-nav-item {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--text-primary);
    padding: 3px 5px;
    border-bottom: 2px solid transparent;
    /* text-decoration: underline; */
    transition: all 0.3s ease-in-out;
}

.mobile-best-seller-nav-item.mobile-seller-nav-active {
    /* border-bottom: 2px solid var(--primary-color); */
    border-bottom: 2px solid var(--primary-color);
    color: var(--text-gray);
    font-weight: 600;
}

/* nav shimmer */
.mobile-best-seller-products-nav-shimmer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.mobile-seller-nav-item-shimmer {
    height: 15px;
    width: 80px;
    border-radius: 10px;
    background-color: var(--secondary-background);
    overflow: hidden;
    position: relative;
}

.mobile-seller-nav-item-shimmer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 80px;
    background: linear-gradient(90deg, var(--secondary-background) 0%, #FFFFFF 50%, var(--secondary-background) 100%);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.mobile-view-cards-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 5px;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}



.best-seller-card-main-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0.645rem;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 1;
    border: none;
}

.best-seller-card-main-container>img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.mobile-card-details-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    padding: 15px;
}

.mobile-card-details-container>h3 {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    text-align: start;
    color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(0, 0, 0, 0.5);
    display: block;
}

.mobile-best-seller-category-product-price {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 5px;
}

.mobile-best-seller-sale-price {
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: #FFFFFF;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(0, 0, 0, 0.5);
}

.mobile-best-seller-regular-price {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: #FFFFFF;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(0, 0, 0, 0.5);
}

.mobile-best-seller-cart-container {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #ffffff;
    border-radius: 0.7rem 0 0 0;
    z-index: 999999999;
    padding: 0.3125rem 0.3125rem 0 0.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}


.mobile-best-seller-cart-container::after {
    position: absolute;
    top: -1.310rem;
    right: 1px;
    content: '';
    width: 1.125rem;
    height: 1.125rem;
    background-color: transparent;
    border-bottom-right-radius: 0.625rem;
    box-shadow: 0.375rem 0.375rem #FFFFFF;
}

.mobile-best-seller-cart-container::before {
    width: 2rem;
    height: 2.125rem;
    bottom: 0;
    left: -2.20rem;
    background-color: transparent;
    position: absolute;
    content: '';
    border-bottom-right-radius: 0.645rem;
    box-shadow: 0.375rem 0.375rem #FFFFFF;
}

.mobile-best-sseller-card-bag-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-color: #FFFFFF;
    border-radius: 0.425rem;
    cursor: pointer;
    cursor: pointer;
    border: 1px solid var(--primary-color);
}

.best-seller-cart-icon {
    color: var(--primary-color);
}

.mobile-best-seller-cart-wishlist-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
}

.mobile-best-seller-heart-icon {
    cursor: pointer;
}

.custom-dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.highlighted-dot {
    background-color: var(--primary-color);
}

.dot-wrapper {
    cursor: pointer;
}

.mobile-view-cards-main-container.slick-list .slick-track {
    display: flex;
    gap: 5px;
}

.best-seller-swiper {
    padding-bottom: 20px;
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .price-and-heart span del {
        font-size: 12px;
    }

    .price-and-heart span p {
        font-size: 14px;
    }

    .price-and-heart img {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .best-seller-slider-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 30px 0 30px;
    }

    .best-seller-slider-main-banner {
        display: none;
    }

    .best-seller-slider-div {
        gap: 10px;
    }


    .best-seller-slider-menu-bar {
        box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
        padding: 7px 10px;
        height: 32px;
    }

    .best-seller-slider-menu-bar h3 {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 600;
        border-bottom: 3px solid #fff;
        color: var(--text-primary);
    }

    .best-seller-menu-bar {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .best-seller-menu-bar p {
        border-bottom: 3px solid #fff;
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;
    }

    .best-seller-menu-bar p.active {
        border-bottom: 3px solid var(--primary-color);
        font-size: 10px;
        font-weight: 600;
    }

    .best-seller-slider-main-banner-mobile-view {
        display: none;
        width: 100%;
        height: 130px;
        position: relative;
        overflow: hidden;
    }

    .best-seller-slider-main-banner-mobile-view img {
        width: 100%;
        height: auto;
        object-fit: cover;
        position: absolute;
    }

    .products-slider-container {
        padding: 0 10px;
    }

    .best-seller-slider {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        overflow: hidden;
        column-gap: 10px;
        row-gap: 10px;
    }

    .pagination-dots {
        display: none;
    }

    .best-seller-slider::-webkit-scrollbar {
        display: none;
    }

    .best-seller-product-card-div {
        flex: none;
        width: 220px;
    }

    .best-seller-product-main-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
 
    .productmain-name {
        font-size: 15px;
        line-height: 22px;
        font-weight: 500;
        color: var(--text-primary);
        margin-bottom: 15px;
    }

    .price-and-heart span del {
        font-size: 12px;
        line-height: 18px;
        font-weight: 600;
        opacity: 0.3;
    }

    .price-and-heart span p {
        font-size: 15px;
        line-height: 23px;
        font-weight: 600;
        color: var(--primary-color);
    }

    .price-and-heart img {
        height: 25px;
        width: auto;
        object-fit: contain;
    }
}

@media only screen and (max-width: 480px) {
    .mobile-best-seller-cart-container {
        bottom: -1px;
    }
}

@media only screen and (max-width: 767px) {
    .best-seller-slider-container {
        padding: 10px 0;
    }

    .best-seller-imaage-and-cards {
        display: none;
    }

    .best-saller-mobile-container {
        display: flex;
    }

    .mobile-view-slider-cards .slick-arrow.slick-next,
    .slick-arrow.slick-prev {
        top: 50% !important;
    }
}
