.wish-list-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    position: relative;
}

.wish-list-heading-container {
    display: flex;
    width: 100%;
    padding: 35px 60px 0 60px;
    align-items: center;
    justify-content: start;
}

.wish-list-main-heading {
    width: 20%;
    font-size: 25px;
    line-height: 37px;
    font-weight: 600;
}

.heading-line {
    width: 80%;
    border-bottom: 1px solid var(--text-primary);
    height: 1px;
}

.wish-listed-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 60px 10px 60px;
}

.wish-listed-empty-products {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 60px 10px 60px;
    align-items: center;
    justify-content: center;
}

.empty-wishlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    gap: 10px;
}

.empty-wishlist>img {
    width: 200px;
    height: auto;
}

.empty-wishlist h3 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
}

.wishlist-mobile-cards {
    display: none;
}

.mobile-view-wishlist-card-grid-select {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: max-content;
    height: 35px;
}

.mob-wish-list-single-col-container {
    display: flex;
    width: 35px;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #d7d7d7;
    background-color: #f9f9f9;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, inset rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 2px;
}

.mob-wish-list-single-col-container.active-wishlist-single-box {
    background-color: var(--primary-color);
}

.mobile-wish-list-dual-col-contianer {
    display: flex;
    width: 35px;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #d7d7d7;
    background-color: #f9f9f9;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, inset rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 2px;
}

.mobile-wish-list-dual-col-contianer.active-wishlist-dual-box {
    background-color: var(--primary-color);
}

.mobile-view-wishlist-card-grid-single-col {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid var(--border-color);
}

.mobile-view-wishlist-card-grid-single-col.grid-active {
    background-color: var(--text-gray);
}

.mobile-view-wishlist-card-grid-dual-col {
    display: flex;
    width: max-content;
    gap: 1px;
    cursor: pointer;
}

.mobile-view-wishlist-card-grid-dual-col-inner {
    width: 10px;
    height: 20px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid var(--border-color);
}

.mobile-view-wishlist-card-grid-dual-col-inner.active-dual-col {
    background-color: var(--text-gray);
}

@media only screen and (max-width: 480px) {
    .wish-list-main-container {
        gap: 15px;
    }

    .heading-line {
        display: none;
    }

    .wish-list-main-heading {
        width: 100%;
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
    }

    .wish-listed-products {
        display: none;
    }

    .wish-listed-empty-products {
        display: none;
    }

    .mobile-view-wishlist-card-grid-select {
        display: flex;
        width: max-content;
        gap: 10px;
    }

    .wishlist-mobile-cards {
        display: grid;
        padding: 10px;
    }

    .wishlist-mobile-cards.single-col {
        grid-template-columns: auto;
        column-gap: 10px;
        row-gap: 10px;
    }

    .wishlist-mobile-cards.two-col {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }
}