.delivery-input-container {
    position: relative;
    padding: 0px 10px 2px 10px;
    height: 45px;
    display: flex;
    align-items: end;
    justify-content: start;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: text;
    overflow: hidden;
}

.floating-label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    line-height: var(--content-one-height);
    font-weight: var(--content-one-weight);
    color: #888;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-field-email {
    width: 100%;
    font-size: 14px !important;
    line-height: var(--sub-section-height);
    font-weight: var(--content-two-weight);
    padding: 10px 0 0 2px !important;
    background-color: transparent;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-field-email.cursor{
    cursor: pointer;
}

.delivery-input-container.focused .floating-label,
.delivery-input-container .input-field:focus+.floating-label {
    top: 10px;
    font-size: var(--content-one-size);
    color: var(--text-gray);
}

@media only screen and (max-width: 480px) {
    .delivery-input-container {
        height: 40px;
    }

    .delivery-input-container.focused .floating-label {
        font-size: 10px;
        line-height: 1.2;
    }
    .delivery-input-container.focused .floating-label,
    .delivery-input-container .input-field:focus+.floating-label {
       font-size: 10px;
       top: 10px;
    }
}