.staus-modal-main-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0; 
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.staus-modal-main-container.show-status-modal {
    visibility: visible;
    opacity: 1;
}

.status-modal-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 310px;
    height: auto;
    padding: 30px 20px;
    border-radius: 15px;
    position: relative;
    gap: 15px;
    background-color: #FFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translate(-0%, 300%);
    transition: all 0.5s ease-in-out;
}

.status-modal-content-container.slide-content-modal {
    transform: translate(-0%, -0%);
}

.close-status-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.status-modal-status-and-message-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.status-modal-status-and-message-container > h3 {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
}

.status-modal-status-and-message-container > p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    display: flex;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
    text-align: center;
}

.status-ok-modal {
    width: max-content;
    height: max-content;
    padding: 5px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
    outline: none;
    border: none;
}