.mobile-view-flters-popup {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 20px;
    position: fixed;
    top: 0;
    left: -480px;
    visibility: hidden;
    background-color: #fff;
    opacity: 0;
    gap: 15px;
    overflow: hidden;
    z-index: 999999999;
    height: 100%;
    z-index: 0;
    transition: all 0.3s ease-in-out;
}

.mobile-view-flters-popup.show-mobile-filter-popup{
    visibility: visible;
    opacity: 1;
    left: 0;
    z-index: 9999999999;
}

.close-mobile-filters{
    position: absolute;
    top: 20px;
    right: 15px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close-mobile-filters img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

/* Mobile view head */
.mobile-view-filters-head{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.mobile-view-filters-head img{
    width: 160px;
    height: auto;
    cursor: pointer;
}

.mobile-view-filters-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    height: 100%;
    align-items: start;
    justify-content: space-between;
}

.mobile-view-filters-body-head{
    display: flex;
    width: 100%;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 9px 15px 3px 15px;
}

.mobile-view-filters-body-head h3{
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    color: var(--text-primary);
}

.mobile-view-filters-body-head p{
    color: var(--text-primary);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

.mobile-view-filters-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

.mobile-view-single-filter-dropdown{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.mobile-view-single-type{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-top: 1px solid var(--border-color);
    cursor: pointer;   
}

.mobile-view-single-type p{
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    color: var(--text-primary);
}

.show-filter-add-button{
    transition: all 0.3s ease-in-out;
}

.mobile-filter-section-button-rotate{
    transform: rotate(48deg);
}

.mobile-single-type-filters{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 15px;
    transition: all 0.3s ease-in-out;   
}

.mobile-single-type-filters.show-filter-type{
    visibility: visible;
    max-height: 150px;
    opacity: 1;
    padding: 10px;
}

.single-filter-label{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.custom-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--primary-light-color);
    border-radius: 2px;
    position: relative;
    margin-right: 8px;
    cursor: pointer;
    outline: none;
}

.custom-checkbox:checked {
    border-color: #28828A;
}

.custom-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 45%;
    left: 50%;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}


/* Filters view more button */
.mobile-view-filters-togle-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
    padding: 0 25px;
}

.mobile-view-more-filters-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: 1px solid var(--text-primary);
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #000;
}

.mobile-view-result-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
}

