.empty-cart-main-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.empty-cart-main-div img{
    height: 180px;
    width: auto;
    object-fit: contain;
}

.empty-cart-main-div h3{
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--text-gray);
    margin-top: 30px;
}

.empty-cart-main-div > p {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
}

.empty-cart-main-div h3 span{
    color: var(--primary-color);
}

.empty-cart-main-div {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--text-gray);
}

@media only screen and (max-width: 480px){
    .empty-cart-main-div{
        gap: 3px;
    }
    .empty-cart-main-div img{
        height: 100px;
    }

    .empty-cart-main-div h3{
        font-size: 18px;
        line-height: 1.2;
        margin-top: 10px;
    }

    .empty-cart-main-div > p {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 400;
    }
}