.view-more-products-pagination-main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.pagination-buttons-container {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pagination-buttons-container span {
    padding: 8px 15px;
    height: 100%;
    width: max-content;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5px;
    border-right: 1px solid var(--border-color);
}

.pagination-buttons-container span:hover {
    background-color: rgba(68, 135, 197, 0.1);
    color: var(--primary-light-color);
}

.pagination-buttons-container span:nth-last-child(1) {
    border-right: none;
}

.active-page-span {
    background-color: rgba(68, 135, 197, 0.1);
    color: var(--primary-light-color);
}

.pagination-buttons-container span.disabled {
    color: #ccc;
    cursor: not-allowed;
}