.home-container {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 999999999;
  transition: all 0.3s ease-in-out;
}

.home-container.take-chat-home-to-up {
  bottom: 6%;
}

.home-container.take-chat-home-top-on-message-contianer {
  bottom: 6%;
}

.fade-wrapper {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-in {
  opacity: 1;
  transform: scale(1);
}

.fade-out {
  opacity: 0;
  transform: scale(0.98);
}

.slide-up {
  animation: slideUp 0.4s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.close-button {
  align-items: center;
  background: #ff762c;
  border: none;
  border-radius: 50%;
  display: inline-flex;
  height: 54px;
  justify-content: center;
  outline: none;
  position: fixed;
  right: 1%;
  bottom: 2%;
  transition: transform 0.2s ease-in;
  width: 54px;
  z-index: calc(var(--custom-max-z-index) - 1);
}

.slide-down {
  animation: slideDown 0.3s ease-in forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

.down {
  color: white;
  height: 20px;
  width: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.fade-out {
  opacity: 0;
  transform: scale(0.95);
}

.chat-btn-home {
  background: var(--primary-color);
  border: 1px solid #ebedf5;
  color: white;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  padding: 0px 16px 0 15px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  box-shadow: 
    rgba(0, 0, 0, 0.118) 0px 0.602187px 0.602187px -1px,
    rgba(0, 0, 0, 0.11) 0px 2.28853px 2.28853px -2px,
    rgba(0, 0, 0, 0.08) 0px 10px 10px -3px;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.chat-btn-home:hover {
  box-shadow: 0 8px 20px rgba(255, 117, 42, 0.5);
  transform: translateY(-2px); /* slight lift effect */
}

.chat-us-home-icon {
  color: white;
  width: 18px;
  height: 18px;
  font-weight: 700;
}