.summary-input-field{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    position: relative;
}

.summary-input-field label{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    display: flex !important;
    align-items: start;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
}

.required-field::after{
    content: '*';
    color: var(--primary-color);
    margin-left: 4px;
}

.summary-input-field input{
    border: none;
    background-color: #F9FAFA;
    height: 48px;
    width: 100%;
    padding: 14px 10px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    outline: none;
    color: var(--text-color);
}