.protect-investment-main-contianer {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 3px solid var(--primary-light-color);
}

.protect-investment-heading-contianer {
    display: flex;
    align-items: stretch;
    justify-content: start;
    width: 100%;
    height: 40px;
}

.protect-investment-head {
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: start;
    padding: 0 30px;

}

.protect-investment-head>h3 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--text-gray);
}

.protect-investment-head-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    height: 100%;
}

.protect-investment-head-options>p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--text-gray);
    border-left: 1px solid var(--primary-light-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 33.3%;
}

.protect-investment-full-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    /* height: 45px; */
    padding: 10px 30px;
    background-color: var(--primary-light-color);
}

.protect-investment-full-container>p {
    color: #FFF;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-align: start;
}

.protect-investment-options-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.protect-invest-single-option {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid var(--primary-light-color);
}

.protect-invest-single-option-name {
    display: flex;
    width: 65%;
    padding: 0 30px;
    align-items: center;
    justify-content: start;

}

.protect-invest-single-option-name>h3 {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--text-gray);

}

.protect-investment-single-option-check {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.protect-investment-single-option-check>p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    height: 100%;
    border-left: 1px solid var(--primary-light-color);
}

.protect-investment-single-option-check>p>span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-light-color);
}

.mobile-protect-investment-main-contianer {
    display: none;
    width: 100%;
    height: auto;
    overflow: hidden;


}

.mobile-protect-investment-main-contianer > img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 320 / 240;
}

@media only screen and (max-width: 480px) {
    .protect-investment-main-contianer {
        display: none;
    }

    .mobile-protect-investment-main-contianer {
        display: flex;
    }
}