.magnifier-container {
  position: relative;
}

.magnifier-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.magnifier-glass {
  position: absolute;
  pointer-events: none;
  width: 250px;
  height: 250px;
  border: 2px solid #aaa;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  z-index: 10;
}