.free-design-consultation-main-container {
    display: flex;
    width: 100%;
    height: 47vh;
    align-items: center;
    justify-content: center;
}

.free-design-consultation-main-container > h3 {
    font-size: 28px;
    line-height: 35px;
    font-weight: 600;
    color: var(--primary-color);
}