.might-need-main-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0 0 0;
    border-top: 1px solid var(--border-color);
}

.might-need-main-container h3 {
    font-size: var(--sub-section-size);
    line-height: var(--sub-section-height);
    font-weight: var(--sub-section-weight);
}

.might-need-cards-main-container {
    display: flex;
    align-items: center;
    width: auto;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 15px;
    padding: 10px 5px;
}

.might-need-cards-main-container::-webkit-scrollbar {
    width: 52px;
    height: 6px;
    background-color: #d7d7d7;
}

.might-need-cards-main-container::-webkit-scrollbar-thumb {
    background-color: var(--text-gray);
    border-radius: 10px;
}

.might-need-cards-main-container::-webkit-scrollbar-track {
    background-color: #d7d7d7;
}

.might-need-product-card {
    display: flex;
    width: 340px;
    min-width: 340px;
    height: auto;
    gap: 10px;
    box-shadow: 0px 0px 6px 0px #0000001A;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.might-need-product-card:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 6px 0px #0000003A;
}

.also-need-product-image {
    width: auto;
    height: 80px;
    object-fit: contain;
}

.you-might-need-product-contant {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.you-might-need-product-contant > h3 {
    font-size: 13px !important;
    line-height: var(--sub-section-height) !important;
    font-weight: var(--sub-section-weight) !important;
}

.you-might-need-product-contant>p {
    font-size: 10px;
    line-height: var(--attribute-height);
    font-weight: var(--attribute-weight);
}

.also-need-prices-div {
    display: flex;
    width: 100%;
    gap: 5px;
    align-items: center;
    justify-content: start;
}

.might-need-product-del-price {
    font-size: var(--content-one-size) !important;
    line-height: var(--content-one-height) !important;
    font-weight: var(--content-two-weight) !important;
    color: var(--text-gray);
    opacity: 0.6 !important;

}

.might-need-product-price {
    font-size: var(--sub-section-size) !important;
    line-height: var(--sub-section-height) !important;
    font-weight: var(--sub-section-weight) !important;
    color: var(--primary-red);
}

.might-need-product-rating {
    display: flex;
    align-items: center;
    justify-content: start;
}

.might-need-product-rating p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    margin-left: 5px;
}

@media only screen and (max-width: 480px) {
    .might-need-main-container h3 {
        font-size: var(--sub-section-size);
        line-height: var(--sub-section-height);
        font-weight: 600;
    }

    .might-need-product-card {
        width: 100%;
        max-width: 100%;
    }
}