.product-recommendation-main-container{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 35px;
    padding: 35px 24px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .product-recommendation-main-container {
        padding: 0 !important;
    }
}

@media only screen and (max-width: 767px){
    .product-recommendation-main-container {
        gap: 15px;
        padding: 15px 0 0 0;
    }
}