.insta-container{
    position: relative;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.images{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    position: relative;
}

.overlay_img{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
}

.images img{
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
}

.images > img:hover > .overlay_img{
    display: none;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery-img {
  width: 100%;
  display: block;
}

.overlay_img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  transition: 0.3s ease;
}

.image-wrapper:hover .overlay_img {
  display: none;
}

.icon{
    position: absolute;
    z-index: 10;
    cursor: pointer;
    transition: transform 1.5s ease-in-out;
}

.icon img{
    width: 100px;
    height: 100px;
}

.icon.animate{
    animation: scaleAndReset 1.5s ease-in-out infinite;
    
} 

@keyframes scaleAndReset {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 480px){
    .insta-container{
        display: none;
    }
    .icon{
        width: 70px;
        height: 70px;
    }

    .icon img{
        width: auto;
        height: 100%;
        object-fit: contain;
    }
}