.product{
    width: 480px;
    flex: 1 0 auto;
}

.product-img{
    width: 100%;
    min-width: 480px;
    height: max-content;
    overflow: hidden;
    position: relative;
}

.product-img img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    cursor: pointer;
    object-fit: cover;
}

.product-img img:hover{
  transform: scale(1.5);
}

.product-img-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    color: var(--primary-dark-color);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    width: 100px;
}

.top_rated_head{
    font-size: 12px;
    font-weight: bold;
    background-color: var(--primary-red);
    color: white;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img-detail span{
    font-size: 22px;
    font-weight: 600;
    line-height: 16px;
    padding: 5px 0;
}
.top_rated_price_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:03px;
    padding: 5px 0;
}
.top_rated_price_cont p{
    font-size: 10px;
    line-height: 15px;
    color: white;
}
.top_rated_price_cont h3{
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px;
    color: white;
    line-height: 20px;
}
.product-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.product-details h3{
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 15px 0px 2px 10px;
}

.product-detail-heading{ 
    color: #000;
    font-size: 15px !important;
    line-height: 22px;
    font-weight: 500;
    padding: 0px 0px 0px 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
}

.product-detail-heading:hover {
    color: var(--primary-color);
}

@media only screen and (max-width: 700px){
    .product{
        width: 250px;
        flex: none;
    }
    
    .product-img{
        width: 250px;
        height: auto;
        overflow: hidden;
        position: relative;
        min-width: 250px;
        
    }

    .product-img-detail{
        top: 0px;
        right: 0px;
        padding: 0px;
        width: 80px;
    }

    .top_rated_head{
        font-size: 8px;
        height: 20px;
    }

    .product-img-detail h3 {
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
    }

    .product-img-detail span {
        font-size: 16px;
        line-height: 10px;
    }

    .product-img-detail p {
        font-size: 8px;
        line-height: 10px;
        font-weight: 400;
    }
    
    .product-img img {
        width: 100%;
        height: auto;
        transition: transform 0.2s;
        cursor: pointer;
    }

    .product-details p{
        font-size: 12px;
        line-height: 16px;
        color: var(--text-primary);
        padding: 5px 0px 0px 10px;
        text-align: justify;
    }
}

@media only screen and (max-width: 480px){
    .product-details h3{
        padding: 10px 0 0 5px;
        font-size: 18px;
        line-height: 21px;
        font-weight: 600;
    }
    .product-details p{
        padding: 10px 0 0 5px;
        font-size: 10px;
        line-height: 11px;
        font-weight: 400;
        width: max-content;
    }

    .product-details button{
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        margin-top: 20px;
        margin-left: 5px;
        margin-bottom: 10px;
    }
}