.design-your-room-main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 25px;
    padding: 35px 24px;
}

.design-your-room-main-container>h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

.design-your-room-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    row-gap: 15px;
    column-gap: 15px;
}

.design-your-room-shuffle-button-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.design-your-room-shuffle-button-container>button {
    width: 100%;
    max-width: 280px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: var(--text-gray);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

.design-your-room-shuffle-button-container>button:hover {
    background-color: var(--primary-color);
    color: var(--color-half-white);
}

@media only screen and (max-width: 480px) {
    .design-your-room-cards-container {
        grid-template-columns: auto;
    }

    .design-your-room-main-container {
        padding: 15px 0 0 0;
        gap: 15px;
    }

    .design-your-room-main-container>h3 {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 600;
    }
}