.furniture-for-budget-main-secton{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 60px 35px 60px;
    gap: 25px;
}

.furniture-for-budget-heading-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.furniture-for-budget-heading-section h3{
    font-size: 25px;
    font-weight: 600;
    line-height: var(--heading-line-height);
    color: var(--text-primary);
}

.furniture-for-budget-heading-section p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-primary);
}

.furniture-for-budget-card{
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
    gap: 30px;
    overflow-y: hidden;
    overflow-x: auto;

}

.furniture-for-budget-card::-webkit-scrollbar {
    display: none;
}

.budget-furniturre-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.budget-furniture-card-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.budget-furniture-card-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 1.2s ease;
}

.budget-furniture-card-img:hover img{
    transform: scale(1.1);
}

.budget-furniture-card-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 23px;
    gap: 10px;
    position: relative;
}


.budget-furniture-card-details > p{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    color: var(--color-half-white);
}


.budget-furniture-card-details button{
    background-color: transparent;
    border: none;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.budget-furniture-card-details button::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--color-half-white);
    transition: left 0.5s ease, background-color 0.5s ease, width 0.5s;
}

.budget-furniture-card-details button:hover{
    color: var(--primary-color);
}

.budget-furniture-card-details button:hover::after{
    background-color: var(--primary-color);
    width: 50%;
    left: 25%;
}

.furniture-for-every-budget-shimmer-main-div{
    display: flex;
    width: 100%;
    height: auto;
    gap: 15px;
    padding: 0 60px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .furniture-for-budget-main-secton {
        padding: 20px 30px 0 30px;
        gap: 15px;
    }
    .furniture-for-budget-heading-section h3 {
        font-size: 20px;
    }
    .furniture-for-budget-card {
        gap: 10px !important;
    }
    .budget-furniture-card-details p{
        font-size: 14px;
    }
}


@media only screen and (max-width: 767px){
    .furniture-for-budget-main-secton{
        padding: 10px 10px 10px 10px;
        gap: 10px;
    }
    .furniture-for-budget-card{
        display: flex;
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;
        box-sizing: border-box;
    }

    .budget-furniturre-card{
        display: flex;
        flex-direction: column;
        width: auto;
        min-width: 75%;
        height: auto !important;
    }

    .furniture-for-budget-heading-section{
        gap: 15px;
    }
    .furniture-for-budget-heading-section h3{
        font-size: 18px;
        line-height: 1.2;
        font-weight: 600;
    }
    .furniture-for-budget-heading-section p{
        font-size: 12px;
        line-height: 1.2;
        font-weight: 400;
        text-align: center;
    }

    .budget-furniture-card-details{
        padding: 5px 0 10px 0;
    }

    .budget-furniture-card-details p{
        font-size: 15px;
        line-height: 22px;
        font-weight: 500;
    }

    .budget-furniture-card-details button {
        font-size: 10px;
        line-height: 15px;
        font-weight: 500;
        width: 77px;
    }
    .budget-furniture-card-details button::after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 100%;
        height: 1px;
    }
}


