.date-time-outer-core-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
    width: 100%;
}

.date-time-tab-main-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.date-time-tab-calender-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.date-time-tab-times-slots {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.single-time-slot {
    width: 200px;
    height: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--primary-color);
    font-size: var(--sub-section-size);
    line-height: var(--sub-section-height);
    font-weight: var(--sub-section-weight);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.single-time-slot:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Calender Styling */
.date-time-tab-calender-section .react-calendar {
    width: 100% !important;
    height: auto !important;
    border: 1px solid var(--border-color);
}

.date-time-tab-calender-section .react-calendar__navigation {
    margin-bottom: 0px !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    height: 42px !important;
}

/* Month Button Set */
.date-time-tab-calender-section .react-calendar__navigation__next-button {
    border: none !important;
    outline: none !important;
    cursor: pointer !important;
    width: 45px !important;
    height: 100% !important;
    background-color: transparent !important;
}

.date-time-tab-calender-section .react-calendar__navigation__prev-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: none !important;
    outline: none !important;
    cursor: pointer !important;
    width: 45px !important;
    height: 100% !important;
    background-color: transparent !important;
}

/* Year Button Hide */
.date-time-tab-calender-section .react-calendar__navigation__next2-button {
    display: none;
}

.date-time-tab-calender-section .react-calendar__navigation__prev2-button {
    display: none;
}

.date-time-tab-calender-section .react-calendar__navigation__label {
    background-color: transparent !important;
    height: 100% !important;
    outline: none !important;
    border: none !important;
}

.react-calendar__month-view__weekdays {
    font-weight: 400 !important;
    height: 42px !important;
}

.react-calendar__tile--weekend {
    color: inherit !important;
}

.custom-tile {
    border: 1px solid var(--border-color) !important;
    height: 42px !important;
}

.selected-date {
    background-color: var(--primary-color) !important;
    color: white !important;
    border-radius: 5px !important;
}

.today-date {
    border: 2px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    background-color: transparent !important;
}

.react-calendar__month-view__weekdays__weekday abbr[title] {
    text-decoration: none !important;
    text-align: center !important;
}

.react-calendar__month-view__days .react-calendar__tile .react-calendar__month-view__days__day {
    border: 1px solid var(--border-color) !important;
}

.react-calendar__month-view__weekdays__weekday {
    border: 1px solid var(--border-color) !important;
    text-align: center !important;
    height: 42px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.react-calendar__tile--active {
    border-radius: 0px !important;
    height: 42px !important;
}

@media only screen and (max-width: 767px) {
    .date-time-tab-main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .date-time-tab-calender-section {
        width: 100%;
    }

    .date-time-tab-times-slots {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .single-time-slot {
        width: 100%;
        height: 35px;
        font-size: 12px;
    }
}