.addresses-main-container {
    display: flex;
    flex-direction: column; 
    gap: 25px;
    padding: 20px;
    margin: 0 60px;
    background-color: #f8f8f8;
    align-items: center;
    justify-content: center;
}

.addresses-main-container p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: var(--text-primary);
}

.billing-and-shipping-addresses {
    display: flex;
    width: 100%;
    gap: 100px;
}

.user-billing-address {
    display: flex; 
    gap: 20px;
    width: 100%;
    align-items: center;
    padding-right: 75px;
    justify-content: center;
}
 
.billing-address-details {
    display: flex;
    flex-direction: column; 
    width: max-content;
    height: auto;
}

.title-and-edit-icon {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 20px;
}

.title-and-edit-icon h3 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--text-primary);
}

.title-and-edit-icon img {
    width: auto;
    height: 24px;
    object-fit: contain;
    cursor: pointer;
    z-index: 999999;
}

.billing-address-show {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.billing-address-show p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-primary);
}

.address-show-detail-span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 430px;
    gap: 15px;
}

.address-show-detail-span>p {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    display: flex;
    flex-shrink: 0;
}

.address-show-detail-span>h3 {
    width: 75%;
    min-height: 36px;
    background-color: #fdfdfd;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--text-primary);
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    outline: none;
    padding: 8px 10px;
}

.user-billing-address p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-primary);
}
 
.address-edit-modal {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0; 
}

.address-edit-modal.show-address-edit-modal {
    visibility: visible;
    opacity: 1;
    z-index: 999999;
}

.address-edit-modal-content {
    display: flex;
    flex-direction: column;
    width: 610px;
    height: auto;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    padding: 20px 30px;
    align-items: start;
    justify-content: start;
    gap: 15px;
}

.address-edit-modal-head {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.address-edit-main-heading {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: var(--text-primary);
}

.address-edit-modal-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.address-edit-modal-close-button img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.address-edit-modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.two-inputs-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.label-with-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.input-with-label {
    width: 100%;
    height: 48px; 
    color: var(--text-primary); 
    padding: 14px 10px;
    background-color: #fdfdfd;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--text-primary);
    font-size: 15px;
    line-height: 18px;
    outline: none;
    padding: 8px 10px;
}

.double-address {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.zip_city_state_input_container {
    display: flex;
    width: 100%;
    gap: 15px;
}

.country-indication {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    gap: 0px;
}

.country-region {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--text-primary);
}

.only-country {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: var(--text-primary);
}

.update-address-div {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: end;
}

.update-address-button {
    padding: 10px 15px;
    width: max-content;
    flex-shrink: 0;
    background-color: var(--primary-dark-color);
    border: 1px solid var(--primary-dark-color);
    outline: none;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .addresses-main-container {
        padding: 10px;
        margin: 0 !important;
    }

    .user-billing-address {
        flex-direction: column;
        padding-right: 0;
        gap: 10px;
    }

    .billing-address-details {
        width: 100%;
    }

    .address-show-detail-span {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;
        gap: 5px;
    }

    .address-show-detail-span>h3 {
        width: 100%;
        background-color: #fdfdfd;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        color: var(--text-primary);
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        outline: none;
        padding: 5px 10px;
    }

    /* Modal */
    .address-edit-modal {
        padding: 15px;
    }

    .address-edit-modal-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: #fff;
        border: 1px solid #d7d7d7;
        border-radius: 5px;
        padding: 10px;
        align-items: start;
        justify-content: start;
        gap: 10px;
    }

    .address-edit-main-heading {
        font-size: 16px;
        line-height: 1.2;
    }

    .two-inputs-row {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: start;
        justify-content: start;
        gap: 10px;
    }

    .addresses-main-container p {
        font-size: 12px;
        line-height: 1.5;
        font-weight: 400;
        color: var(--text-primary);
    }

    .only-country {
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        color: var(--text-primary);
    }

    .input-with-label {
        width: 100%;
        height: 35px;
        color: var(--text-primary);
        padding: 14px 10px;
        background-color: #fdfdfd;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        color: var(--text-primary);
        font-size: 12px;
        line-height: 1.2;
        outline: none;
        padding: 5px 10px;
    }
}