.product-gallery-main-container {
    display: flex;
    width: 100%;
    height: auto;
    gap: 15px;
    align-items: stretch;
}

/* Product Thumbnail Styling */
.product-gallery-thumbnail-section {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-thumbnail-arrow {
    color: var(--text-primary);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.product-thumbnail-arrow:hover {
    transform: scale(1.3);
}

.product-gallery-view-all-button {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--primary-light-color);
    border-bottom: 2px solid var(--primary-light-color);
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    cursor: pointer;
}

.product-thumbnail-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 100%;
    height: 400px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding-right: 10px;
    position: relative;
    scroll-snap-type: y mandatory;
}

.product-thumbnail-images::-webkit-scrollbar {
    display: none;
}

.product-thumbnail-single-image-div {
    display: flex;
    width: 100%;
    max-width: 150px;
    height: max-content;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid transparent;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.product-thumbnail-single-image-div:hover,
.product-thumbnail-single-image-div.active-thumb {
    border: 2px solid var(--primary-light-color);
}

.product-thumbnail-single-image {
    width: 100%;
    height: auto;
    max-height: 90px;
    object-fit: fill;
    transition: all 0.3s ease-in-out;
}

.product-thumbnail-single-image-div:hover .product-thumbnail-single-image,
.product-thumbnail-single-image-div.active-thumb .product-thumbnail-single-image {
    transform: scale(0.9);
}

.arrow-pointer {
    display: flex;
    visibility: hidden;
    opacity: 0;
    z-index: 999999999;
    position: absolute;
    top: 35%;
    right: -23px;
    transition: all 0.3s ease-in-out;
}

.arrow-pointer.show-pointer-arrow {
    visibility: visible;
    opacity: 1;
}

/* Product Main Slider Styling */
.product-gallery-main-slider-section {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.product-gallery-main-slider-arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 5px;
    top: 50%;
    background-color: #FFFFFF;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

.product-gallery-main-slider-arrow:hover {
    background-color: var(--primary-light-color);
}

.product-gallery-arrow {
    color: var(--text-primary);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.product-gallery-arrow {
    color: var(--text-primary);
}

.product-gallery-main-slider-arrow:hover .product-gallery-arrow {
    color: #FFFFFF;
}

.product-gallery-arrow-back {
    left: 10px;
}

.product-gallery-arrow-right {
    right: 10px;
}

.product-gallery-main-slider-arrow {
    color: var(--text-primary);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.product-gallery-main-slider-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.produt-stock-status-label {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    padding: 5px 10px;
    z-index: 99;
    color: #FFF;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.product-gallery-main-slider-single-image-container {
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1162 / 731;
}

.product-gallery-main-slider-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    user-select: none;
}

.scale-slider-image {
  will-change: transform;
  transform-origin: center center;
}

/* Navigation Arrows */
.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.disabled-button {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Package styling */
.transform-component-module_wrapper__SPB86 {
    width: 100% !important;
}

.transform-component-module_content__FBWxo {
    width: 100% !important;
}

.zoomable-image {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease-in-out;
    cursor: grab;
}

/* Pagination Dots Container */
.slider-dots-and-view-all-button {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 99999;
}

.slider-dots-and-view-all-button>h3 {
    display: none;
    flex-shrink: 0;
    font-size: var(--content-one-size);
    line-height: var(--content-one-height);
    font-weight: var(--content-one-weight);
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
    color: var(--primary-light-color);
}

.pagination-dots {
    display: flex;
    width: 100%;
    height: 40px;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.best-seller-swiper {
  padding-bottom: 30px; 
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .product-thumbnail-single-image-div {
        max-width: 100px !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 844px) {
    .product-gallery-main-container {
        gap: 0;
    }

    .product-gallery-thumbnail-section {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .product-gallery-main-container {
        flex-direction: column-reverse;
    }

    .product-gallery-thumbnail-section {
        display: none;
    }

    .product-thumbnail-images {
        flex-direction: row;
        width: 100%;
        gap: 3px;
        height: 70px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .product-thumbnail-single-image-div {
        min-width: 100px;
        max-height: 70px;
    }

    .product-gallery-view-all-button {
        display: none;
    }

    .product-thumbnail-arrow-up {
        transform: rotate(-90deg) !important;
    }

    .product-thumbnail-arrow-down {
        transform: rotate(-90deg) !important;
    }

    .arrow-pointer {
        display: none;
    }

    .arrow-pointer.show-pointer-arrow {
        display: none;
    }

    .slider-dots-and-view-all-button>h3 {
        display: none !important;
    }

    .product-gallery-main-slider-arrow {
        display: none;
    }
}