.order-view-modal-main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.order-view-modal-main.show-product-modal{
    visibility: visible;
    opacity: 1;
}

.order-view-modal-inner-sec{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    max-width: 595px;
    max-height: 842px;
    aspect-ratio: 3/4;
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px #00000026;
    position: relative;
}

.order-close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Body */
.order-view-modal-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: relative;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 20px 20px 10px 20px;
}

.order-body-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: max-content;
}

.order-body-head > h3 {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: #000;
}

.order-body-head > img {
    width: 176px;
    height: auto;
    object-fit: contain;
}

/* invoice two description */
.order-second-invoice-desc {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.order-second-invoice-desc > p {
    font-size: 8px;
    line-height: 10px;
    font-weight: 500;
}

.date-and-invoice-number-contianer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #EAEAEA;
    border-radius: 4px;
}

.date-and-invoice-number-contianer > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: auto;
    gap: 10px;
}

.date-and-invoice-number-contianer > span > h3{
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    color: #000;
}

.date-and-invoice-number-contianer > span > p{
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
}

.order-personal-details-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    column-gap: 10px;
    row-gap: 10px;
}

.order-detail-single-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 10px;
}

.order-detail-single-column > h3 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    color: #000;
}

.order-details-single-values {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 3px;
}

.order-details-single-values > p {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
}

.ordered-products-details-table-container {
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
}

.responsive-order-details-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures columns adjust width and wrap text */
  word-wrap: break-word; /* Allows content to break lines inside cells */
  font-family: Arial, sans-serif;
}

.order-table-head {
  background-color: var(--text-gray);
  color: white;
  height: 28px;
}

.order-table-head th {
    font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  color: #FFF;
  text-align: center;
}

.order-peoduct-name {
    width: 180px;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.order-product-price {
    text-align: start !important;
}

.order-table-body td {
    padding: 10px 0;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--text-gray);
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.ordered-products-total-container {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    height: max-content;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 20px;
}

.ordered-products-total-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    max-width: 250px;
}

.ordered-products-total-items > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.ordered-products-total-items > span > p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
}

.ordered-products-grand-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--text-gray);
    padding: 10px;
}

.ordered-products-grand-total > h3 {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #FFF;
}

/* Second invoice total */
.second-invoice-order-total-and-costumer-agree {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 20px;
}

.ordered-second-invoice-products-total-container {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    height: max-content;
}

/* Second modal costumer agree */
.order-invoice-second-costumer-agree {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 15px;
}

.order-invoice-second-costumer-agree > span {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.order-invoice-second-costumer-agree > span > p {
    font-size: 8px;
    line-height: 10px;
    font-weight: 500;
}

.order-invoice-second-costumer-agree > p {
    font-size: 8px;
    line-height: 10px;
    font-weight: 500;
}

.order-invoice-costumer-sign {
    display: flex;
    align-items: end;
    justify-content: start;
    width: 100%;
    gap: 3px;
}

.order-invoice-costumer-sign > h3 {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
}

.order-invoice-sign-line {
    display: flex;
    width: 180px;
    height: 13px;
    margin-bottom: 2px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--text-primary);
}

.order-invoice-costumer-sign > p {
    font-size: 10px;
    line-height: 15px;
    font-weight: 500;
}

/* Order Modal Footer */
.order-view-modal-footer-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: #EAEAEA;
    gap: 5px;
    width: 100%;
    height: max-content;
    padding: 10px;
}

.order-view-modal-footer-contianer > h3 {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
    color: #000;
}

.order-view-modal-footer-contianer > p {
    font-size: 10px;
    line-height: 1.5;
    font-weight: 400;
    color: #000;
}

/* Second invoice footer */
.order-second-invoice-view-modal-footer-contianer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: #EAEAEA;
    gap: 10px;
    width: 100%;
    height: max-content;
    padding: 10px;
}

.order-second-invoice-view-modal-footer-contianer > label {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 3px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
}

.order-second-invoice-view-modal-footer-contianer > label > input {
    width: max-content;
    height: max-content;
}

.order-second-invoice-view-modal-footer-contianer > span {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 5px;
}

.order-second-invoice-view-modal-footer-contianer > span > p{
    font-size: 8px;
    line-height: 10px;
    font-weight: 500;
}