.single-blog-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 35px;
    padding: var(--global-padding);
}

.single-blog-main-heading-div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.single-blog-main-heading {
    font-size: 25px;
    line-height: 28px;
    font-weight: 600;
    color: var(--text-color);
}

.single-blog-main-heading span {
    color: var(--active-nav-item-color);
}

/* Content section */
.single-blog-content-section {
    display: flex;
    width: 100%;
    gap: 20px;
}

.single-blog-left-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 30px;
}

.single-blog-title-and-publish-date {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: start;
    justify-content: start;
}

.single-blog-name {
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
    color: #000;
}

.single-blog-post-date {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: var(--text-color);
}

.single-blog-main-image-div {
    display: flex;
    width: 100%;
    height: auto;
}

.single-blog-main-image {
    width: 100%;
    height: 560px;
    object-fit: cover;
    border-radius: 10px;
}

.single-blog-columns {
    padding: 0 20px 0 0;
}

.single-blog-columns > div {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.splited-paras {
    text-align: start;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}

.single-blog-social-links-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.single-blog-social-links-div p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: var(--text-color);
}

.single-blog-social-icons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.single-blog-social-single-icon {
    width: max-content;
    height: auto;
}

.single-blog-social-icon-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.prev-and-next-blog-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.prev-single-blog {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: #FDFDFD;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    cursor: pointer;
}

.next-single-blog {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    justify-content: end;
    background-color: #FDFDFD;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    cursor: pointer;
}

.prev-single-blog p,
.next-single-blog p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: var(--text-color);
}

.prev-single-blog h3,
.next-single-blog h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: #000;
}

/* right section */
.single-blog-right-content {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 50px;
}

/* Mobile view styling */
.mobile-view-single-blog-main-heading {
    display: none;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: var(--text-color);
}

@media only screen and (max-width: 480px) {
    .single-blog-main-container {
        padding: 20px 10px;
        gap: 15px;
    }

    .single-blog-main-heading {
        display: none;
    }

    .mobile-view-single-blog-main-heading {
        display: flex;
    }

    .single-blog-content-section {
        display: flex;
        flex-direction: column;
    }

    .single-blog-left-content,
    .single-blog-right-content {
        width: 100%;
        gap: 15px;
    }

    .single-blog-name {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: var(--text-color);
    }

    .single-blog-post-date {
        display: none;
    }

    .single-blog-main-image {
        height: 210px;
    }

    .splited-paras {
        font-size: 10px;
        line-height: 15px;
    }

    .prev-and-next-blog-section {
        flex-direction: column;
        gap: 15px;
        padding: 0;
    }

    .prev-single-blog {
        width: 100%;
        padding: 5px 20px;
    }

    .next-single-blog {
        width: 100%;
    }

    .prev-single-blog p,
    .next-single-blog p {
        font-size: 12px;
        line-height: 1.5;
    }

    .prev-single-blog h3,
    .next-single-blog h3 {
        font-size: 15px;
        line-height: 1.5;
    }
}