.review-tab-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  justify-content: start;
  gap: 25px;
}

.review-tab-main-container>h3 {
  font-size: var(--sub-section-size);
  line-height: var(--sub-section-height);
  font-weight: var(--sub-section-weight);
  color: var(--text-primary);
}

.review-tab-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 25px;
  width: 100%;
}

.review-tab-form>h3 {
  font-size: var(--sub-section-size);
  line-height: var(--sub-section-height);
  font-weight: var(--sub-section-weight);
  color: var(--text-primary);
}

.review-tab-address-field {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: start;
  height: 50px;
  padding: 5px 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.review-tab-address-field>input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.review-tab-first-and-last-name-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

/* Flouting */
.floating-input-container {
  position: relative;
  height: 40px;
}

.floating-input-container input {
  width: 100%;
  height: 100%;
  padding: 5px 12px;
  font-size: 12px;
  box-sizing: border-box;
}

.floating-input-container label {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #aaa;
  pointer-events: none;
  transition: all 0.2s ease-out;
}

/* When input is focused or has a value, move the label up */
.floating-input-container label.float {
  top: -16px;
  left: 10px;
  font-size: 12px;
  color: #333;
  background-color: transparent;
  padding: 0 4px;
}

.review-tab-first-and-last-name-container>label {
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: start;
  height: 50px;
  padding: 5px 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.review-tab-first-and-last-name-container>label>input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.confirm-associate-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  width: 100%;
}

.confirm-associate-container>input {
  width: max-content;
  height: max-content;
}

.confirm-associate-container>h3 {
  font-size: var(--sub-section-size);
  line-height: var(--sub-section-height);
  font-weight: var(--sub-section-weight);
  color: var(--text-primary);
}

.type-selected-button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  gap: 15px;
  
}

.type-selected-button>button {
  width: max-content;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: #fff;
  font-size: var(--sub-section-size);
  line-height: var(--sub-section-height);
  font-weight: var(--sub-section-weight);
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .confirm-associate-container {
    gap: 5px;
  }

  .confirm-associate-container>h3 {
    font-size: 8px;
    line-height: var(--content-one-height);
    font-weight: var(--content-one-weight);
    color: var(--text-primary);
  }

  .type-selected-button>button {
    padding: 0;
    width: 50%;
    height: 35px;
    font-size: 12px;
  }

  .eview-tab-form>label {
    height: 35px;
  }

  .review-tab-first-and-last-name-container {
    display: flex;
    flex-direction: column;
  }

  .review-tab-first-and-last-name-container>label>input {
    font-size: 12px;
  }

  .review-tab-main-container {
    gap: 10px;
  }

  .review-tab-main-container>h3 {
    font-size: 12px;
  }

  .review-tab-first-and-last-name-container>label  {
    height: 35px;
  }

  .review-tab-address-field {
    height: 35px;
  }

  .review-tab-address-field > input {
    font-size: 10px;
  }

  .review-tab-first-and-last-name-container>label>input {
    font-size: 10px;
  }
  
  .review-tab-form {
    gap: 15px;
  }
}