.delivery-form-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.delivery-form-main-container>p {
    font-size: var(--content-one-size);
    line-height: var(--content-one-height);
    font-weight: var(--content-two-weight);
    color: var(--text-primary);
    opacity: 0.7;
}


/* Delivery Options */
.shipping-methods-checkout-main-contianer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
}

.choose-delivery-checkout-heading {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
}

.checkout-page-shipping-method-inner-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 15px;
    padding: 5px 0;
}


.cart-delivary-card {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 45px;
    padding: 10px;
    gap: 20px;
    background-color: var(--tertiary-background);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.cart-protection-card-icon {
    width: 25px;
    height: 25px;
    display: flex;
    flex-shrink: 0;
    object-fit: contain;
    color: var(--primary-color);
}

.cart-protection-plan-details-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0px;
    align-items: start;
    justify-content: start;
}

.cart-protection-plan-card-header {
    font-size: var(--sub-section-size);
    line-height: var(--sub-section-height);
    font-weight: var(--sub-section-weight);
    color: var(--text-primary);
}

.cart-protection-plan-cart-desc {
    font-size: var(--content-one-size);
    line-height: 1.5;
    font-weight: var(--content-two-weight);
    color: var(--text-primary);
    opacity: 0.7;
}

.cart-protection-checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    top: 20px;
    right: 20px;
}

.cart-protection-radio-container {
    display: flex;
    align-items: start;
    justify-content: end;
    width: max-content;
    height: max-content;
    top: 10px;
    right: 20px;
}

.custom-radio input[type="radio"] {
    display: none;
}

.radio-mark {
    height: 16px;
    width: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    margin-top: 0px !important;
}

.radio-mark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.custom-radio input[type="radio"]:checked+.radio-mark::after {
    opacity: 1 !important;
}

/* Email Sign in Section */

.delivery-form-signup-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.delivery-form-signup-container>h3 {
    font-size: var(--sub-section-size);
    line-height: var(--sub-section-height);
    font-weight: var(--sub-section-weight);
    color: var(--text-primary);
}

.input-container {
    position: relative;
    width: 60%;
    padding: 0px 10px 2px 10px;
    height: 45px;
    display: flex;
    align-items: end;
    justify-content: start;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: text;
}

/* .delivery-input-container {
    position: relative;
    width: 100%;
    padding: 0px 10px 2px 10px;
    height: 45px;
    display: flex;
    align-items: end;
    justify-content: start;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: text;
    overflow: hidden;
} */

.delivery-input-container-email {
    position: relative;
    width: 60%;
    padding: 0px 10px 2px 10px;
    height: 45px;
    display: flex;
    align-items: end;
    justify-content: start;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: text;
    overflow: hidden;
}

.input-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    z-index: 999999;
}

.delivery-input-container-phone {
    position: relative;
    width: 50%;
    padding: 0px 10px 2px 10px;
    height: 45px;
    display: flex;
    align-items: end;
    justify-content: start;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: text;
    overflow: hidden;
}

.delivery-input-container-postal-code {
    position: relative;
    width: 50%;
    padding: 0px 10px 2px 10px;
    height: 45px;
    display: flex;
    align-items: end;
    justify-content: start;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: text;
    overflow: hidden;
}

.input-field-email {
    width: 100%;
    font-size: 14px !important;
    line-height: var(--sub-section-height);
    font-weight: var(--content-two-weight);
    padding: 10px 0 0 2px !important;
    background-color: transparent;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-field-email.cursor{
    cursor: pointer;
}

.floating-label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    line-height: var(--content-one-height);
    font-weight: var(--content-one-weight);
    color: #888;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container.focused .floating-label,
.input-container .input-field:focus+.floating-label {
    top: 10px;
    font-size: var(--content-one-size);
    color: var(--text-gray);
}


/* .delivery-input-container.focused .floating-label,
.delivery-input-container .input-field:focus+.floating-label {
    top: 10px;
    font-size: var(--content-one-size);
    color: var(--text-gray);
} */

.delivery-input-container-postal-code.focused .floating-label,
.delivery-input-container-postal-code .input-field:focus+.floating-label {
    top: 10px;
    font-size: var(--content-one-size);
    color: var(--text-gray);
}

.delivery-input-container-email.focused .floating-label,
.delivery-input-container-email .input-field:focus+.floating-label {
    top: 10px;
    font-size: var(--content-one-size);
    color: var(--text-gray);
}

.delivery-input-container-phone.focused .floating-label,
.delivery-input-container-phone .input-field:focus+.floating-label {
    top: 10px;
    font-size: 12px;
    color: var(--text-gray);
}

.input-field:focus {
    border-color: var(--text-gray);
}

.delivery-form-signup-container>span {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 5px;
    font-size: var(--content-one-size);
    line-height: var(--content-one-height);
    font-weight: var(--content-two-weight);
    opacity: 0.7;
    margin-top: 5px;
}

.delivery-form-signup-container>span>p {
    font-size: 10px;
    line-height: var(--content-one-height);
    font-weight: var(--content-one-weight);
    color: var(--primary-light-color);
    text-decoration: underline;
    cursor: pointer;
}


.delivery-form-signup-container>p {
    font-size: var(--content-one-size);
    line-height: var(--content-one-height);
    font-weight: var(--content-two-weight);
    opacity: 0.7;
    margin-top: -5px;
}


.delivery-info-input-main-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    width: 100%;
}

.delivery-info-input-main-container>h3 {
    font-size: var(--sub-section-size);
    line-height: var(--sub-section-height);
    font-weight: var(--sub-section-weight);
    color: var(--text-primary);
}

.delivery-info-input-first-and-last-name {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.delivery-info-email-and-phone {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.delivery-options-city-and-state {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.delivery-zip-and-phone {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-right: 10px;
}

.error-message {
    color: red;
}

.edit-or-not-zip-code {
    display: flex;
    width: max-content;
    height: max-content;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--text-gray);
    text-decoration: underline;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .delivery-form-main-container {
        gap: 5px;
    }

    .delivery-form-signup-container>h3 {
        font-size: 15px;
        line-height: 1.2;
        font-weight: 500;
        color: var(--text-primary);
    }

    .delivery-info-input-main-container>h3 {
        font-size: 15px;
        line-height: 1.2;
        font-weight: 500;
        color: var(--text-primary);
    }

    .delivery-info-email-and-phone {
        flex-direction: column;
    }

    .input-container {
        width: 100%;
        height: 40px;
    }
    
    .floating-label {
        font-size: 10px !important;
    }

    .input-container.focused .floating-label,
    .input-container .input-field:focus+.floating-label {
        font-size: 10px;
        top: 10px;
    }

    /* .delivery-input-container.focused .floating-label {
        font-size: 10px;
        line-height: 1.2;
    } */

    .delivery-info-input-main-container {
        gap: 10px;
    }

    .delivery-info-input-first-and-last-name {
        gap: 10px;
    }

    /* .delivery-input-container {
        height: 40px;
    } */

    .delivery-input-container-email {
        height: 40px;
        width: 100%;
    }

    .delivery-input-container-phone {
        height: 40px;
        width: 100%;
    }

    .delivery-input-container-postal-code {
        width: 80% !important;
        height: 40px;
    }

    .delivery-options-city-and-state {
        gap: 10px;
    }

    .delivery-zip-and-phone {
        gap: 10px;
    }

    /* .delivery-input-container.focused .floating-label,
    .delivery-input-container .input-field:focus+.floating-label {
       font-size: 10px;
       top: 10px;
    } */

    .delivery-input-container-postal-code.focused .floating-label,
    .delivery-input-container-postal-code .input-field:focus+.floating-label {
        font-size: 10px;
        top: 10px;
    }

    .delivery-input-container-email.focused .floating-label,
    .delivery-input-container-email .input-field:focus+.floating-label {
        font-size: 10px;
        top: 10px;
    }

    .delivery-input-container-phone.focused .floating-label,
    .delivery-input-container-phone .input-field:focus+.floating-label {
        font-size: 10px;
        top: 10px;
    }

    /* Input text Size */
    .input-field-email{
        font-size: 12px !important;
        line-height: 1.2;
        font-weight: 400;
        padding: 10px 0 3px 2px !important;
    }

    .checkout-page-shipping-method-inner-container {
        flex-direction: column;
        align-items: start;
    }

    .cart-delivary-card {
        width: 100%;
    }

    .cart-protection-plan-card-header {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 400;
    }

    .choose-delivery-checkout-heading {
        font-size: 15px;
        line-height: 1.2;
        font-weight: 500;
    }
}