.get-the-scop-main-container{
    display: flex;
    width: 100%;
    height: max-content;
    padding: var(--global-padding);
    background-image: url('../../../Assets/to-be-change/bb\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 35px;
}

.get-the-scop-form-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.divider_line_gts{
    width: 40%;
    height: 1.5px;
    background-color: var(--text-secondary);
}

.get-the-scop-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.get-the-scop-form h3{
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    color: var(--text-primary);
}

.get-the-scop-form .get-the-scop-offers{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.get-the-scoop-offers-keywords{
    color: var(--text-primary) !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    flex-shrink: 0;
    width: max-content !important;
}

.get-the-scoop-form-input-and-button{
    width: 40%;
}

.get-the-scop-input{
    display: flex;
    padding: 15px 0;
    gap: 20px;
}

.scoop_loader{
    height: 50px;
    width: 50px;
}

.get-the-scop-input input{
    width: 100%;
    min-width: 300px;
    height: 50px;
    border: 1px solid var(--border-color);
    padding: 16px 10px;
    outline: none;
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 4px;
}

.get-the-scoop-submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-dark-color);
    width: max-content;
    flex-shrink: 0;
    height: 50px;
    border: 1px solid var(--primary-dark-color);
    outline: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    color: var(--text-white);
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.get-the-scoop-terms-and-condition {
    color: var(--text-primary);
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    width: 100%;
    text-align: center;
}

.get-the-scoop-terms-and-condition > a {
    color: var(--text-primary);
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    width: 100%;
    text-align: center;
}

.desktop-get-the-scoop-terms{
    color: var(--text-primary);
    padding: 0 3px;
    cursor: pointer;
    text-decoration: underline;
    z-index: 999;
}

.get-the-scop-banner{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 15px 50px;
    align-items: center;
    overflow: hidden;
    position: relative;
    gap: 10px;
    text-align: center;
}

.get-the-scop-banner h3{
    font-size: 30px;
    line-height: 45px;
    font-weight: 600;
    color: var(--text-primary);
    width: 100%;
    margin-top: -40px;
}

.get-the-scop-banner p{
    font-size: 15px;
    color: var(--text-primary);
    font-weight: 500;
    line-height: 22px;
    margin-top: -10px;
}

.see_all_promotions_btn{
    width: 300px;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-dark-color);
    flex-shrink: 0;
    border: 1px solid var(--primary-dark-color);
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    color: var(--text-white);
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.banner-container{
    display: flex;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}

.banner-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
}

.get-the-scop-banner button{
    background-color: var(--primary-dark-color);
    z-index: 2;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-white);
    width: 190px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 1300px){
    .get-the-scop-banner button{
        bottom: 10%;
        padding: 0;
        font-size: 16px;
    }
}

.get-the-scop-banner button a{
    color: var(--text-white);
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    text-decoration: none;
}

.get-the-scop-banner button:hover{
    background-color: white;
    border: 1px solid var(--primary-dark-color);
    transition: all 0.3s ease-in-out;
}

.get-the-scop-banner button:hover a{
    color: var(--primary-dark-color);
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

/* Mobile view */

.mobile-view-scop-main-container{
    display: none;
    background-image: url('../../../Assets/Furniture Mecca/Landing Page/get the scope/mobile-get-the-scoop-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: column;
}

.mobile-view-get0the-scoop-overlay{
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px 30px;
    background: var(--text-primary)80;
    gap: 15px;

}

.mobile-view-get-scoop-heading{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mobile-view-get-scoop-heading h3{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: var(--text-white); 
}

.mobile-view-get-scoop-heading span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.mobile-view-get-scoop-heading span a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.mobile-view-get-scoop-input-and-button{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.mobile-view-get-scoop-input-and-button input{
    padding: 11px 22px;
    border-radius: 5px;
    color: var(--text-primary);
    border: none;
    outline: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    width: 100%;
}

.mobile-view-get-scoop-input-and-button button{
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--text-primary);
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    cursor: pointer;
}

.mobile-view-conditions{
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    text-align: center;
}

.mobile-view-get-the-scoop-conditions{
    color: var(--text-white);
    font-size: 10px;
    line-height: 15px;
    font-weight: 500;
    padding: 0 3px;
}

.mobile-view-flyre-view{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mobile-view-flyre-view h3{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: var(--text-white);
}

.mobile-view-flyre-view p{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--text-white);
}

.mobile-view-flyre-view button{
    padding: 11px 15px;
    background-color: var(--text-primary);
    color: #fff;
    border: none;
    outline: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.mobile-view-flyre-view button a{
    color: #fff;
    text-decoration: none;
}

.subscription_done{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1px);
    padding: 10px;
    border-radius: 10px;
}
.subscription_done img{
    height: 45px;
    width: 45px;
}
.done_message{
    font-weight: bold !important;
    font-size: 26px !important;
    line-height: 32px;
    color: #2F7A97!important;
}

.done_message_2{
    font-weight: 600 !important;
    font-size: 19px !important;
    line-height: 28px;
    text-align: center;
}

.done_message_3{
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 21px;
}

@media only screen and (max-width: 1300px){
    .get-the-scop-banner{
        width: 50%;
        display: flex;
        padding: 20px;
    }
   
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .get-the-scoop-form-input-and-button {
        width: 80%;
    }
}

@media only screen and (max-width: 767px){
    .get-the-scop-main-container{
        display: none;
    }

    .mobile-view-scop-main-container{
        display: flex;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .done_message{
        font-weight: bold !important;
        font-size: 20px !important;
        line-height: 32px;
        color: #2F7A97!important;
    }
    
    .done_message_2{
        font-weight: 600 !important;
        font-size: 16px !important;
        line-height: 28px;
        text-align: center;
        color: var(--text-primary) !important;
    
    }
    
    .done_message_3{
        font-weight: 500 !important;
        font-size: 12px !important;
        line-height: 21px;
        text-align: center;
        color: var(--text-primary) !important;
    }
    .subscription_done{
        background-color: rgba(255, 255, 255, 0.6);
    }
    .see_all_promotions_btn{
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 360px){
    .mobile-view-scoop-email-input{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 10px;
    }

    .mobile-view-scoop-email-input input{
        width: 80%;
    }
}