.dashboard-all-tabs-toggler-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 35px;
}

.dashboard-tabs-toggle-nav {
    display: flex;
    width: 93%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    border-radius: 20px;
    background-color: #f0f0f0;
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 0 60px;
    margin: 0 auto;
}

.dash-single-tab-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-gray);
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    padding: 10px 15px;
}

.dash-single-tab-title:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.dash-single-tab-title.active-dash-tab {
    color: #fff;
    background-color: var(--primary-red);
}

@media only screen and (max-width: 480px) {
    .dash-single-tab-title {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 400;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
        padding: 7px 10px;
    }
}