
.related-categories-main-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    justify-content: start;
    padding: 20px 200px;
    background-color: var(--products-bg);
}

.related-categories-main-div h3{
    font-size: 25px;
    line-height: 37px;
    font-weight: 600;
    color: var(--text-primary);
}

.related-categories-items{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.related-categories-main-div a{
    color: var(--text-primary);
    background-color: #FFF;
    padding: 6px 20px;
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 4px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .related-categories-main-div {
        padding: 20px 30px;
        gap: 15px;
    }
    .related-categories-main-div h3 {
        font-size: 20px;
        line-height: 1.2;
    }
}