.plan-duration-main-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.plan-duration-content-section {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: start;
    justify-content: center;
    gap: 15px;
}

.plan-duration-content-section>h3 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--text-gray);
}

.plan-duration-content-section>h3:last-of-type {
    font-size: 16px;
}

.plan-duration-content-section>p {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--text-gray);
}

.plan-duration-span {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 10px;
}

.planDurationIcon {
    display: flex;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.plan-duration-span>p {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--text-gray);
    opacity: 0.8;
}

.plan-duration-image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    overflow: hidden;
    border-radius: 20px;
}

.plan-duration-image-section>img {
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 480px) {
    .plan-duration-main-container {
        flex-direction: column;
        gap: 10px;
    }

    .plan-duration-content-section {
        width: 100%;
        gap: 10px;
    }

    .plan-duration-content-section>h3 {
        font-size: 18px;
    }

    .plan-duration-content-section>h3:last-of-type {
        font-size: 14px;
    }

    .plan-duration-content-section>p {
        font-size: 12px;
    }

    .plan-duration-image-section {
        width: 100%;
        border-radius: 10px;
        height: 240px;
    }

    .plan-duration-image-section>img {
        width: 100%;
        object-fit: cover;
        height: 240px;
    }

    .planDurationIcon {
    display: flex;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}
}