.payment-types-main-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  justify-content: start;
}

.payment-type-heading-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-primary);
}

/* Payment select container */
.payment-types-select-boxes-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  gap: 10px;
}

.payment-select-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  border: 1px solid var(--border-color);
  color: var(--text-primary);
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}

/* Custom radio button */
.payment-select-option input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px !important;
}

/* When checked: black border, blue inner fill */
.payment-select-option input[type="radio"]:checked {
  border-color: var(--primary-color);
  background-color: transparent;
}

.payment-select-option input[type="radio"]:checked::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
}

/* Selected state */
.payment-select-option.selected {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.05);
}

.payment-type-paypal-logo {
  width: auto;
  height: 20px;
}

.payment-types-select-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


@media only screen and (max-width: 480px) {
  .payment-types-select-boxes-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .payment-select-option {
    font-size: 10px;
    line-height: 1.2;
    padding: 5px 10px;
  }

  .payment-type-paypal-logo {
    height: 15px;
  }

  /* Custom radio button */
  .payment-select-option input[type="radio"] {
    width: 15px;
    height: 15px;
  }

  .payment-select-option input[type="radio"]:checked::before {
    width: 7px;
    height: 7px;
  }
}