.bed-care-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.bed-care-image-contianer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    overflow: hidden;
    border-radius: 20px;
}

.bed-care-image-contianer>img {
    width: 100%;
    object-fit: cover;
}

.bed-care-content-container {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 60%;
    flex-direction: column;
    gap: 20px;
}

.bed-care-content-container>h3 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--text-gray);
}

.bed-care-content-container>p {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--text-gray);
    opacity: 0.8;
}

.bed-care-content-container>p:last-of-type {
    font-weight: 500;
    color: #000;
}

@media only screen and (max-width: 480px) {
    .bed-care-main-container {
        flex-direction: column;
    }

    .bed-care-image-contianer {
        width: 100%;
        height: 240px;
        border-radius: 10px;
    }

    .bed-care-image-contianer>img {
        width: 100%;
        object-fit: contain;
    }

    .bed-care-content-container {
        display: flex;
        align-items: start;
        justify-content: start;
        width: 100%;
        gap: 10px;
    }

    .bed-care-content-container>h3 {
        font-size: 18px;
    }

    .bed-care-content-container>p {
        font-size: 12px;
    }
}