.blog-card {
    display: flex;
    flex-direction: column;
    width: 97%;
    box-sizing: border-box;
    height: auto;
    border: 1px solid #d7d7d7;
    margin: 0 auto;
    cursor: pointer;
    transition: margin 0.3s ease;
}


.blog-card-image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.blog-card-image img {
    width: 100%;
    height: 100%;
    min-height: 146px;
    object-fit: cover;
    transition: transform 1s ease;
}

.blog-card:hover .blog-card-image img {
    transform: scale(1.1);
}

.blog-date-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.blog-date-tag p {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}

.blog-date-tag p:nth-child(1) {
    border-bottom: 1px solid #d7d7d7;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;

}

.blog-arther-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    flex-shrink: 0;
    border-bottom: 1px solid #d7d7d7;
}

.blog-arther-details p {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: var(--primary-color);
}

.blog-arther-details h3 {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-created-by-and-comments {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    gap: 20px;
    width: 100%;
}

.blog-star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    padding-right: 20px;
    border-right: 1px solid #d7d7d7;
}

.blog-created-by-and-comments p span {
    color: var(--primary-color);
}

.blog-created-by-and-comments p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--text-primary);
    display: flex;
    align-items: center;
    gap: 5px;
}

.blog-para-and-see-more {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.blog-para-and-see-more p {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: var(--text-primary);
}

.blog-para-and-see-more button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: transparent;
    color: #000;
    border: none;
    gap: 2px;
    border-bottom: 1px solid #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;
    transition: gap 0.3s ease;
}

.blog-card-button-arrow {
    color: #000;
    transition: gap 0.3s ease;
}

.blog-para-and-see-more:hover .blog-card-button-arrow {
    color: var(--primary-light-color);
}

.blog-para-and-see-more button:hover {
    color: var(--primary-light-color);
    border-bottom: 1px solid var(--primary-light-color);
    gap: 10px;
}

.mobile-view-blog-card-author {
    display: none;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    color: var(--text-primary);
    padding-right: 20px;
    border-right: 1px solid #d7d7d7;
}

.mobile-view-blog-card-author p {
    font-weight: 500;
    color: var(--primary-color);
}

@media only screen and (max-width: 1250px) {
    .blog-date-tag {
        gap: 3px;
        padding: 5px 10px;
    }

    .blog-date-tag p {
        font-size: 12px;
        line-height: 1.2;
    }

    .blog-date-tag p:nth-child(1) {
        font-size: 14px;
        line-height: 1.2;
    }

    .blog-arther-details h3 {
        font-size: 14px;
        line-height: 1.2;
        height: 35px;
    }

    .blog-created-by-and-comments p {
        font-size: 10px;
        line-height: 1.2;
    }

    .blog-para-and-see-more {
        padding: 10px;
        gap: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .blog-arther-details h3 {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        color: #000;
        height: 35px;
    }

    .blog-date-tag p {
        font-size: 10px;
        line-height: 15px;
        font-weight: 500;
        color: #000;
    }

    .blog-date-tag p:nth-child(1) {
        border-bottom: 1px solid #000;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
    }

    .blog-para-and-see-more {
        display: none;
    }

    .mobile-view-blog-card-author {
        display: flex;
    }

    .blog-date-tag {
        padding: 5px 10px;
    }
}