.privacy-policy-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: var(--global-padding);
}

.privacy-policy-main-heading{
    font-size: 25px;
    line-height: 28px;
    font-weight: 500;
    color: var(--text-color);
}

.policy-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.policy-details-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.policy-title{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: var(--text-color);
}

.policy-full-details-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    gap: 5px;
}

.policy-list-item{
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-color);
}
