.bad-care-faq-main-conitainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.bad-care-faq-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.bed-care-faq-msg-icon {
    display: flex;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.bad-care-faq-heading>h3 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--text-gray);
}

.bed-care-faqs {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: start;
    gap: 15px;
    flex-direction: column;
}

.bed-care-faq-single-item {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: start;
    gap: 0px;
    flex-direction: column;
    background-color: #d7d7d7;
    padding: 10px;
    border-radius: 10px;
}

.bed-care-faq-single-item.remove-ans-bg {
    background-color: transparent;
    gap: 10px;
}

.bef-care-faq-que {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.bef-care-faq-que>h3 {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--primary-light-color);
}

.bed-care-faq-arrow {
    display: flex;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;
}

.bed-care-faq-arrow.rotate-bed-care-faq-arrow {
    transform: rotate(180deg);
}

.bed-care-faq-ans {
    display: flex;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.bed-care-faq-ans.show-ans {
    height: 80px;
}

.bed-care-faq-ans>p {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--text-gray);
    opacity: 0.8;
}

@media only screen and (max-width: 480px) {

    .bad-care-faq-main-conitainer {
        gap: 10px;
    }

    .bad-care-faq-heading {
        justify-content: start;
        gap: 5px;
    }

    .bed-care-faqs {
        gap: 10px;
    }

    .bed-care-faq-single-item {
        padding: 5px;
    }

    .bed-care-faq-msg-icon {
        display: flex;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
    }

    .bad-care-faq-heading>h3 {
        font-size: 18px;
    }

    .bed-care-faq-arrow {
        display: flex;
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        transition: all 0.3s ease-in-out;
    }

    .bef-care-faq-que>h3 {
        font-size: 10px;
    }

    .bed-care-faq-ans>p {
        font-size: 10px;
    }

    .bed-care-faq-ans.show-ans {
        height: 50px;
    }

    .bed-care-faq-single-item.remove-ans-bg {
        gap: 5px;
    }
}