.mobile-menu-overlay {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 99999999999;
    transition: all 0.3s ease-in-out;
}

.mobile-menu-overlay.show-mobile-nav {
    visibility: visible;
    opacity: 1;
    left: 0;
}

.mobile-nav-main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100%;
    max-width: 320px;
    background-color: #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 9999999;
    transition: all 0.3s ease;
    align-items: start;
    justify-content: start;
}

.mobile-nav-main-container.slide-drower {
    left: 0;
}

.mobile-nav-head {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 10px;
    gap: 15px;
}

/* mobile nav-user login signup style */
.mobile-nav-head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    gap: 10px;
}

.mobile-nav-header-image-contianer {
    display: flex;
    width: max-content;
    height: max-content;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

/* Mobile Cart Container Style */
.mobile-nav-cart-container {
    display: flex;
    align-items: stretch;
    justify-content: start;
    gap: 10px;
    width: 100%;
    background-image: url('/mix-images/cart-mob-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 20px 10px;
}

.mobile-nav-cart-icon-and-total-container {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 100%;
    gap: 10px;
    padding-left: 10px;
}

.mobile-nav-cart-icon-and-total-container>span {
    display: flex;
    align-items: end;
    justify-content: end;
    width: max-content;
    height: 100%;
    padding-bottom: 5px;
}

.mobile-head-cart-total-container {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.mobile-head-cart-total-container>p {
    font-size: 12px;
    line-height: 1.8;
    font-weight: 400;
    color: #FFFFFF;
}

.mobile-head-cart-total-container>h3 {
    font-size: 22px;
    line-height: 1;
    font-weight: 500;
    color: #FFFFFF;
}

.mobile-nav-head-total-price-arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 100%;
}

/* mobile nav links container styling */
.mobile-nav-links-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 10px;
    box-shadow:
        inset 0px -4px 4px -4px rgba(0, 0, 0, 0.4),
        inset 0px 4px 4px -4px rgba(0, 0, 0, 0.4);
}

.mobile-nav-links-container::-webkit-scrollbar {
    display: none;
}

.mobile-nav-single-link-container {
    display: flex;
    align-items: stretch;
    justify-content: start;
    width: 100%;
    gap: 10px;
    padding: 10px 10px;
    text-decoration: none;
    border-bottom: 0.5px solid var(--primary-color);
}

.mobile-nav-single-link-container:nth-last-child(1) {
    border-bottom: none;
}

.mobile-nav-single-item-name-anchor {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 10px;
    text-decoration: none;
}

.mobile-nav-single-item-name-anchor>p {
    color: #000;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
}

.mobile-nav-single-link-container>span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 100%;
    flex-shrink: 0;
}


/* Mobile nav footer */
.mobile-nav-footer-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 25px;
    gap: 25px;
}

.mobile-nav-footer-buttons>a {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    font-size: 10px;
    line-height: 1.5;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-gray);
}

.mobile-nav-store-locator-button {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.mobile-nav-store-locator-button:hover {
    background-color: var(--primary-color);
    color: #FFF;
    border: 1px solid var(--primary-color);
}

.mobile-nav-wishlist-button {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #FFF;
}

.mobile-nav-wishlist-button:hover {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

@media only screen and (min-width: 1024px) {
    .mobile-menu-overlay {
        display: none;
    }
}