.top-upper-sec-of-product-page {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: transparent;
}

.product-display-page-main-container{
    display: flex;
    width: 80%;
    padding-top: 20px;
    flex-direction: column;
    gap: 25px;
    margin: auto;
}

.sticky-section-steper-main-container {
    display: flex;
    align-content: start;
    justify-content: start;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.design-room-transition {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: start;
    transition: all 0.3s ease-in-out;
}

.steper-description-tranition {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: start;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
}

.steper-description-tranition.show-description-transition{
    transform: translateX(-0%);
}

.steper-details-tranition {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: start;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
}

.steper-details-tranition.show-details-transition {
    transform: translateX(-0%);
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .product-display-page-main-container {
        width: 95%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .product-display-page-main-container{
        width: 100%;
        padding: 15px 10px;
        gap: 0;
    }
    .design-room-transition {
        display: none;
    }
}

@media only screen and (max-width: 480px){
    .product-display-page-main-container{
        width: 100%;
        padding: 15px 10px;
        gap: 0;
    }
    .design-room-transition {
        display: none;
    }
}

.design_room_main_modal{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.3);
}
