.shop-via-banner{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--hover-btn-bg);
    padding: 7px 10px;
}

.close{
    display: none;
}

.text-div{
    display: flex;
    width: 100%;  
    align-items: start;
    justify-content: start; 
}

.maintanence-content-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.webiste-update-main-contianer {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
}

.mobile-message {
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.mobile-message > p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: #FFF;
}

.mobile-message > p:nth-child(2) {
    font-size: 8px;
    font-weight: 400;
}

.rotate-message-maintanance { 
    display: flex;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
}

.social-icons-container {
    display: flex;
    width: 40%;
    align-items: start;
    justify-content: start;
    flex-shrink: 0;
    gap: 25px;
    padding-left: 60px;
}

.social-icons-container.width-decrease {
    width: max-content;
}

.social-icons-container > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
}

.shop-via-banner span{
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    width: 60%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: start;
    color: #FFFFFF;
}

.shop-via-banner span a{
    color: #FFFFFF;
    font-weight: 600;
}

.shop-via-banner img{
    width: 15px; 
    height: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .text-div {
        align-items: center;
    }
    .rotate-message-maintanance {
        font-size: 10px;
    }
}

@media only screen and (max-width: 767px){
    .social-icons-container {
        display: none;
    }

    .shop-via-banner span {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .shop-via-banner{
        /* padding: 13px 10px; */
        height: 33px;
        padding: 5px 10px;
    }
    .shop-via-banner span{
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
    }
    
    .shop-via-banner span a{
        font-weight: 600; 
    }

    .rotate-message-maintanance {
        display: none;
    }
    .mobile-message {
        display: flex;
    }
}