.category-besst-seller-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: var(--global-padding);
}

.blurred {
    filter: blur(4px);
    pointer-events: none; /* Prevent interactions while loading */
}

.category-best-seller-and-banner-container{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    align-items: stretch;
}

.category-best-seller-cards-section{
    
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    gap: 20px;
}

.category-best-seller-menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.category-best-seller-menu h3{
    font-size: 25px;
    line-height: var(--heading-line-height);
    font-weight: 600;
}

.category-best-seller-menu-items{
    display: flex;
    align-items: center;
    gap: 30px;
}

.category-best-seller-menu-items p{
    color: var(--primary-red);
    text-decoration: none;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    border-bottom: 3px solid #fff;
    cursor: pointer;
}

.category-best-seller-menu-items p.active{
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    border-bottom: 3px solid var(--primary-red);
}

.products-slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.best-seller-slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition: transform 0.5s ease-in-out;
    column-gap: 15px;
    row-gap: 15px;
    padding: 4px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.category-product-rating-section{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.category-product-rating-stars{
    color: #50BED3;
}

.category-product-rating-section p{
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
}


/* Best Seller Banner Section */
.category-best-seller-banners-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 30%;
    height: auto;
}


.category-best-seller-banners-section .banner_one{
    
    width: 100%;
  height: 100%;
  object-fit: fill; 
  display: block;
}

.category-best-seller-banners-section .banner_two{
    
    width: 100%;
  height: 100%;
  object-fit: fill; 
  display: block;
}



.category-pagination-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.category-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.category-dot.category-dot-active-active {
    background-color: #333;
}

/* Mobile view */
.mobile-view-category-best-seller{
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.mobile-view-category-best-seller-heading-section{
    padding: 0 10px;
    display: flex;
    width: 100%;
}

.mobile-view-category-best-seller-heading-section h3{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.mobile-view-category-best-seller-nav-and-banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mobile-view-category-best-seller-nav-and-banner img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.mobile-view-category-best-seller-nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    top: 0;
    z-index: 9999;
    padding: 20px;
}

.mobile-view-nav-link{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.mobile-view-nav-link.mobile-view-nav-active{
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
    transform: scale(1.1);
    font-weight: 600;
}

.mobile-view-category-best-seller-card-section{
    display: flex;
    width: 100%;
    top: -40px;
    position: relative;
}

.mobile-view-best-seller-slider{
    display: flex;
    width: 100%;
    padding: 0 25px;
    transition: all 0.5s ease-in-out;
}

.mobile-view-category-pagination-dots{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mobile-view-best-seller-slider-arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    z-index: 99999;
}

.mobile-view-best-seller-slider-arrows img{ 
    width: auto;
    height: 100%;
    object-fit: contain;
}

.mobile-view-best-seller-arrow-left{
    left: 10px;
}

.mobile-view-best-seller-arrow-right{
    right: 10px;
}



/* Best Seller Mobile Cards */
.best-saller-mobile-container {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: start;
    justify-content: start;
    padding: 0px 10px;
    gap: 10px;
}

.best-saller-mobile-container>h3 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    color: var(--text-primary);
}

.mobile-card-nav-container {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 15px;
}

.mobile-best-seller-nav-item {
    font-size: 10px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--text-primary);
    padding: 3px 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.mobile-best-seller-nav-item.mobile-seller-nav-active {
    border-bottom: 2px solid var(--primary-color);
    color: var(--text-gray);
    font-weight: 600;
}

.mobile-view-cards-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}

.best-seller-card-main-container {
    display: flex;
    width: 100%;
    position: relative;
    height: auto;
    border-radius: 0.645rem;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 1;
    border: none;
}

.best-seller-card-main-container > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.mobile-best-seller-cart-wishlist-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
}

.mobile-card-details-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    padding: 15px;
}

.mobile-card-details-container > h3 {
    width: 100%;                 /* Takes 80% of parent width */
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: start;
    white-space: nowrap;        /* Prevents line wrapping */
    overflow: hidden;           /* Hides overflow text */
    text-overflow: ellipsis;    /* Shows "..." on overflow */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(0, 0, 0, 0.5);
    display: block;  
}

.mobile-best-seller-category-product-price {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 5px;
}

.mobile-best-seller-sale-price {
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: #FFFFFF;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(0, 0, 0, 0.5);
}

.mobile-best-seller-regular-price {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: #FFFFFF;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(0, 0, 0, 0.5);
}

.mobile-best-seller-cart-container {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #ffffff;
    /* border-radius: 1.25rem 0 0 0; */
    border-radius: 0.7rem 0 0 0;
    z-index: 99999999999;
    padding: 0.3125rem 0.3125rem 0 0.3125rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}


.mobile-best-seller-cart-container::after {
    position: absolute;
    top: -1.310rem;
    right: 1px;
    content: '';
    width: 1.125rem;
    height: 1.125rem;
    background-color: transparent;
    border-bottom-right-radius: 0.625rem;
    box-shadow: 0.375rem 0.375rem #FFFFFF;
}

.mobile-best-seller-cart-container::before {
    width: 1.125rem;
    height: 1.125rem;
    bottom: 0;
    left: -1.30rem;
    background-color: transparent;
    position: absolute;
    content: '';
    border-bottom-right-radius: 0.645rem;
    box-shadow: 0.375rem 0.375rem #FFFFFF;
}

.mobile-best-sseller-card-bag-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-color: #FFFFFF;
    border-radius: 0.425rem;
    cursor: pointer;
    cursor: pointer;
    border: 1px solid var(--primary-color);
}

.best-seller-cart-icon {
    color: var(--primary-color);
}

/* Slick Style */
.mobile-view-cards-main-container.slick-list .slick-track {
    display: flex;
    gap: 5px;
}

.mobile-view-cards-main-container .slick-slider {
    width: 100% !important;
}
.mobile-view-cards-main-container.slick-slider .slick-initialized {
    width: 100% !important;
}

.best-seller-swiper {
  padding-bottom: 30px; 
}




@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .category-besst-seller-main-container {
        padding: 20px 30px 0px 30px;
    }
    .category-best-seller-and-banner-container {
        gap: 0;
    }
    .category-best-seller-cards-section {
        width: 100% !important;
        gap: 15px;
    }
    .category-best-seller-menu h3 {
        font-size: 20px;
    }
    .category-best-seller-menu-items {
        gap: 15px;
    }
    .category-best-seller-menu-items p {
        font-size: 12px;
    }
    .category-best-seller-menu-items p.active {
        font-size: 12px;
    }
    .category-best-seller-banners-section {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .mobile-best-seller-cart-container {
        bottom: -1px;
    }
    .mobile-best-seller-nav-item {
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 767px){
    .category-besst-seller-main-container{
        padding: 10px 0px;
    }
    .category-best-seller-and-banner-container{
        display: none;
    }
    .category-pagination-dots{
        display: none;
    }
    .mobile-view-category-best-seller{
        display: flex;
    }
    .mobile-view-category-pagination-dots{
        display: flex;
    }

    .best-saller-mobile-container {
        display: flex;
    }
}
