.navbar {
    display: flex;
    width: 100%;
    height: 32px;
    padding: 0px 30px;
    border-bottom: 1px solid var(--border-color);
}

.navar-links-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    padding-left: 0px;
    margin: 0px;
}

.nav-item {
    height: 100%;
    align-items: center;
    flex-shrink: 0;
    margin: auto;
    font-size: 15px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    letter-spacing: 1.6px !important;
}

.nav-link {
    text-decoration: none;
    color: var(--text-primary);
    position: relative;
    height: auto;
    font-size: 13px !important;
    font-weight: 500 !important;
    line-height: 13px !important;
    letter-spacing: 1px !important;
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--primary-red);
}

.nav-link.active-nav-link {
    color: var(--primary-red) !important;
}

.offer-color {
    color: var(--primary-red);
    font-weight: 700 !important;
}

.sale-color {
    font-weight: 700 !important;
    background-color: #F9F6EE;
    border: 1px solid var(--primary-red);
    color: var(--primary-red);
    animation: colorGlow 0.5s steps(1, end) infinite;
    padding: 5px 10px;
    border-radius: 4px;
}

@keyframes colorGlow {
    0% {
        background-color: #F9F6EE;
        color: var(--primary-red);
    }
    50% {
        background-color: var(--primary-red);
        color: #F9F6EE;
    }
    100% {
        background-color: #F9F6EE;
        color: var(--primary-red);
    }
}

.nav-item.active .nav-link {
    color: var(--primary-red);
}


/* Mobile Navbar CSS */
.mobile-navbar {
    display: flex;
    width: 100%;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 10px;
}

.mobile-nav-link {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    display: flex;
    white-space: nowrap;
    width: max-content;
    padding: 10px 15px;
    background-color: #EEEEEE;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.mobile-nav-link a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}

.mobile-navbar::-webkit-scrollbar {
    display: none;
}

.mobile-navbar {
    display: none;
}

/* Drop Down */

.dropdown {
    position: absolute;
    margin-top: 6px;
    left: 0;
    width: 100%;
    background-color: var(--secondary-background);
    z-index: 2222222;
    display: flex;
    max-height: 0;
    overflow: hidden;
    justify-content: space-around;
    align-items: start;
    transition: all 0.3s ease-in-out;
}

.dropdown.show-drop-down {
    max-height: 1500px;
}

.shimmer-nav-item-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nav-item-shimmer {
    height: 15px;
    width: 130px;
    border-radius: 10px;
    background-color: var(--secondary-background);
    overflow: hidden;
    position: relative;
}

.nav-item-shimmer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 130px;
    background: linear-gradient(90deg, var(--secondary-background) 0%, #FFFFFF 50%, var(--secondary-background) 100%);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.mobile-shimmer-nav-item-container{
    display: none;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mobile-nav-item-shimmer {
    height: 15px;
    width: 80px;
    border-radius: 10px;
    background-color: var(--secondary-background);
    overflow: hidden;
    position: relative;
}

.mobile-nav-item-shimmer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 80px;
    background: linear-gradient(90deg, var(--secondary-background) 0%, #FFFFFF 50%, var(--secondary-background) 100%);
    animation: shimmer 1.5s infinite;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar {
        height: 40px;
        padding: 0 5px;
    }
    
    .navar-links-container {
        overflow-y: hidden;
        overflow-x: auto;
        gap: 10px;
    }

    .navar-links-container::-webkit-scrollbar {
        display: none;
    }

    .nav-item {
        display: flex;
        padding: 0 10px !important;
        
        background-color: #EEEEEE ; 
        border-radius: 4px !important;
    }
    .nav-link {
        font-size: 12px !important;
        line-height: 1.5 !important;
        font-weight: 500 !important;
    }

    .dropdown {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .navbar {
        padding: 10px 10px 10px 10px;
        border-top: none;
        height: max-content;
    }

    .mobile-navbar {
        display: flex;
    }

    .navar-links-container {
        display: none;
    }

    .shimmer-nav-item-container{
        display: none;
    }

    .mobile-shimmer-nav-item-container{
        display: flex;
    }
}

@media only screen and (max-width: 1230px) {
    .nav-item {
        font-size: 13px;
    }
}